[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = " 3.10.6"

[packages]
flask = "*"
mysql-connector-python = "*"
bcrypt = "*"
python-dotenv = "*"
gunicorn = "*"
flask-admin = "*"
Flask-WTF = "*"
folium = "*"
apscheduler = "*"
flask-socketio = "*"

[dev-packages]
