{% extends 'layout.html' %}

{% block content %}
<h2>Welcome, {{username}}</h2>
<a class="text-blue-500 underline" href="{{url_for('authen.logout')}}">Logout</a>
    {% if session['loggedin'] %}
        <p>{{ msg }}</p>

        <form method="POST" action="{{ url_for('management_bp.management', username=username) }}">
            <label for="bus_selector">Choose a Bus:</label>
            <select name="bus_selector" id="bus_selector" required>
                {% for option in options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
        
            <label for="spot_selector">Choose a Parking Spot:</label>
            <select name="spot_selector" id="spot_selector" required>
                {% for spot in spots %}
                <option value="{{ spot }}">{{ spot }}</option>
                {% endfor %}
            </select>
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% endblock %}

